<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/img/logo.jpg" style="width: 250px;" alt="Logo" href="index.html"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" href="">Home</a></li>
      </ul>
    </div>
    <span class="navbar-text"><button type="button" class="btn btn-outline-secondary" (click)="doAuthAction()">{{this.authenticated ? 'Logout' : 'Login'}}</button></span>
    <form *ngIf="authenticated" class="form-inline ml-4" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
      <input class="form-control" type="search" placeholder="Search for resources" aria-label="Search for resources" formControlName="keywords">
      <button class="btn btn-outline-success ml-2" type="submit">Search</button>
    </form>
  </div>
</nav>
