<div *ngIf="!this.loading else showLoad" class="container">
  <div class="row">
    <div class="col-8" id="media">
      <ng-container [ngSwitch]="type">
        <div *ngSwitchCase="'pdf'"><ngx-extended-pdf-viewer class="img-fluid" [src]="url" useBrowserLocale="true" height="120vh"></ngx-extended-pdf-viewer></div>
        <div *ngSwitchCase="'audio'"><mat-basic-audio-player [audioUrl]="url" [title]="currentFile.name" [autoPlay]="false" muted="muted" [displayTitle]="currentFile.name" [displayVolumeControls]="true"></mat-basic-audio-player></div>
        <div *ngSwitchCase="'video'" class="">
          <vg-player>
            <video [vgMedia]="media" #media id="vid" preload="auto" controls>
              <source [src]="url" [type]="currentFile.type">
            </video>
          </vg-player>
        </div>
        <div *ngSwitchCase="'image'"><img [src]="url" class="img-fluid" /></div>
        <div *ngSwitchCase="'unknown'">Unknown</div>
      </ng-container>
    </div>
    <div class="col-4" id="info">
      <div class="row mt-1">
        <div class="col-12">
          <h3>{{currentFile.name}}</h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          Uploaded on {{this.datePipe.transform(currentFile.dateCreated, 'dd/MM/yyyy')}}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          Last modified on {{this.datePipe.transform(currentFile.dateModified, 'dd/MM/yyyy')}}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          Size: {{this.sizePipe.transform(currentFile.size)}}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <a [href]="url" type="button" class="btn" [download]="currentFile.name">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #showLoad><mat-progress-spinner mode="indeterminate"></mat-progress-spinner></ng-template>
