<div class="modal-header">
  <h2 class="modal-title" id="uploadFileTitle">Upload a File</h2>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="!this.loading else showLoad">
    <div class="modal-body">
      <app-message [componentName]="compName"></app-message>
      <div class="form-group">
        <label for="file">Upload a File:</label>
        <input type="file" name="file" placeholder="Choose a File" class="form-control" id="file"
               (change)="onFileSelect($event)" required />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Upload</button>
    </div>
</div>
<ng-template #showLoad><div class="modal-body">Working...</div></ng-template>
