<div *ngIf="!this.loading; else showLoad" class="container">
  <div class="row">
    <div class="col text-right">Username:</div>
    <div class="col text-left">{{this.user.userUsername}}</div>
  </div>
  <div class="row">
    <div class="col text-right">Name:</div>
    <div class="col text-left">{{this.user.userName}}</div>
  </div>
  <div class="row">
    <div class="col text-right">User Type:</div>
    <div class="col text-left">{{this.authLevel}}</div>
  </div>
  <div class="row">
    <div class="col text-center"><button type="button" class="btn btn-primary" (click)="openPasswordChange()">Change Password</button></div>
  </div>
</div>
<ng-template #showLoad>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>

