<app-message [componentName]="compName"></app-message>
<div *ngIf="!this.loading && this.currentFolder && this.contents else showLoad" class="container">
  <h1>{{currentFolder.name}}</h1>
  <div class="row mb-2" id="actions">
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="openCreateFolderModal()">Create a Folder</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="openFileUploadModal()">Upload Files</button>
    </div>
    <div class="col" *ngIf="currentFolder.name !== 'home'">
      <button type="button" class="btn btn-secondary" (click)="openRenameModal()">Rename Folder</button>
    </div>
    <div class="col" *ngIf="currentFolder.name !== 'home'">
      <button type="button" class="btn btn-danger" (click)="openDeleteModal()">Delete Folder</button>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" aria-haspopup="true" id="sortByButton" data-toggle="dropdown" aria-expanded="false" >
          Sort by:
        </button>
        <div class="dropdown-menu" aria-labelledby="sortByButton">
          <a class="dropdown-item" (click)="sortBy('name')">Name</a>
          <a class="dropdown-item" (click)="sortBy('created')">Date created</a>
          <a class="dropdown-item" (click)="sortBy('modified')">Date modified</a>
          <a class="dropdown-item" (click)="sortBy('size')">Size</a>
          <a class="dropdown-item" (click)="sortBy('type')">Type</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8" id="content">
      <div class="row">
        <div class="col" *ngFor="let con of this.contents.contentList; index as i;" (click)="goTo(con)">
          <div class="row">
            <div class="col-12 text-center">
              <img *ngIf="con.icon else showFolder" src="{{con.icon}}" width="100" class="img-thumbnail img-fluid" />
              <ng-template #showFolder><img src="assets/img/folder.png" width="100" class="img-thumbnail" /></ng-template>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              {{con.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" id="info">
      <div class="row mt-1">
        <div class="col-12">
          <h3>{{currentFolder.name}}</h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          Created on {{this.datePipe.transform(currentFolder.dateCreated, 'dd/MM/yyyy')}}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          Last modified on {{this.datePipe.transform(currentFolder.dateModified, 'dd/MM/yyyy')}}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          Size: {{this.sizePipe.transform(currentFolder.size)}}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <a type="button" class="btn btn-outline-info" [download]="currentFolder.name" download (click)="downloadFolder()">Download Folder</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #showLoad><mat-progress-spinner></mat-progress-spinner></ng-template>
