<div class="modal-header">
<h2 class="modal-title" id="deleteTitle">Delete {{ type }}: {{ deletion.name }}</h2>
<button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div *ngIf="!this.loading else showLoad">
  <div class="modal-body">
    <p>Are you sure you want to delete this {{ type }}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel button')">No, cancel</button>
    <button type="submit" class="btn btn-danger" (click)="onSubmit()">Yes, delete</button>
  </div>
</div>
<ng-template #showLoad>
  <div class="modal-body">
    <mat-progress-spinner></mat-progress-spinner>
  </div>
</ng-template>
