<div *ngIf="!this.loading; else showLoad" class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 text-right">Username:</div>
    <div class="col-sm-4 text-left">{{this.user.userUsername}}</div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 text-right">Name:</div>
    <div class="col-sm-4 text-left">{{this.user.userName}}</div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 text-right">User Type:</div>
    <div class="col-sm-4 text-left">{{this.authLevel}}</div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center"><button type="button" class="btn-primary">Change Password</button></div>
    <div class="col-sm-4"></div>
  </div>
  <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centred" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="passwordChangeTitle">Change Your Password</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="password" placeholder="Current Password"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Change Password</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #showLoad>
  <div>Loading...</div>
</ng-template>

