<div class="modal-header">
  <h2 class="modal-title" id="renameTitle">Rename Folder</h2>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="!this.loading else showLoad">
  <form [formGroup]="renameForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label for="fName">New name:</label>
        <input type="text" name="fName" placeholder="Enter a new name for this {{type}}"
               class="form-control" id="fName" formControlName="newName" required
        />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
      <button type="submit" class="btn btn-primary">Rename</button>
    </div>
  </form>
</div>
<ng-template #showLoad>
  <div class="modal-body">
    <mat-progress-spinner></mat-progress-spinner>
  </div>
</ng-template>
